<% layout('/layouts/boilerplate') %> 
    
    <div class="row justify-content-center">
        <div class="col-8">

            <div class="card">
                <img src="<%= campground.image %>" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%= campground.title %></h5>
                  <p class="card-text"><%= campground.description  %></p>
                  <p class="card-text">$<%= campground.price %></p>
                  <p class="card-text"><%= campground.location %></p>
                  <span>
                      <a href="/campgrounds/<%= campground.id %>/edit " class="btn btn-primary d-inline-block">Edit</a>
                      <form class=" d-inline-block" action="/campgrounds/<%=campground.id%>?_method=DELETE" method="POST">
                        <button class="btn btn-primary">Delete</button>
                    </form>
                    <a href="/campgrounds" class="btn btn-primary d-inline-block">Home</a>
                  </span>
                </div>
              </div>
        </div>
    </div>
